
  <div class="message">
    <div class="m_line1">
      <div class="m_user">
        <%= message.user.name %>
      </div>
      <div class="m_date">
        <%= message.created_at%>
      </div>
    </div>
    <div class="m_line2">
      <div class="m_message">
        <%= message.content %>
      </div>
    </div>
  </div>