    <div class="sidebar_top">
      <div class="user_name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="room_create">
        <%= link_to 'チャットを作成する', new_room_path %>
      </div>
    </div>
    <div class="sidebar_room">
      <% current_user.rooms.each do |r|%>
        <div class="room_link">
          <a href=#><%= r.name %></a>
        </div>
      <% end %>
    </div>