    <div class="sidebar_top">
      <div class="user_name">
        <a href="#">NAME</a>
      </div>
      <div class="room_create">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="sidebar_room">
      <div class="room_link">
        <a href="#">testroom1</a>
      </div>
      <div class="room_link">
        <a href="#">testroom2</a>
      </div>
    </div>