<div class="wrapper">

  <%= render "side_bar" %>
  <%= render "main_chat" %>

  <div class="sidebar_base">
    <div class="sidebar_top">
    </div>
    <div class="sidebar_room">
    </div>
  </div>
  <div class="main_base">
    <div class="main_top">
    メイントップ
    </div>
    <div class="main_chat">
    メインチャット
    </div>
    <div class="main_bottom">
    メインボトム
    </div>
  </div>
</div>